.HeaderItem {
  font-size: 16px;
  padding-top: 30px;
  list-style-type: none;
  color: #f0ae00;
  cursor: pointer;
}
.HeaderItem:hover {
  color: #fff;
}

.HeaderItemSelected {
  font-size: 16px;
  padding-top: 30px;
  list-style-type: none;
  color: #f0ae00;
  cursor: pointer;
}
.HeaderItemSelected:hover {
  color: #fff;
}

.MainDisplay {
  font-family: "Roboto", sans-serif;
  padding-top: 30px;
  padding-left: 100px;
  background-color: #fff;
}

.PageDisplay {
  padding-bottom: 30px;
}

.PageTitle {
  font-size: 30px;
  font-weight: 700;
}

.AccountHeader {
  font-size: 22px;
  padding-top: 100px;
  text-align: center;
}

.TicketCreationPane {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.TicketCreationTitle {
  font-size: 22px;
  padding-bottom: 10px;
  font-weight: 600;
}

.InputBoxLabel {
  padding: 10px 0px 0px 0px;
  height: 30px;
  font-size: 11px;
  font-weight: 600;
  background-color: #fff;
  box-sizing: border-box;
}

.InputBox {
  height: auto;
  font-size: 12px;
  padding: 5px 0px 10px 0px;
  box-sizing: border-box;
  border-color: red;
  background-color: #fff;
}

.InputBoxContent {
  padding: 9px 10px;
  border: 1px solid blue;
  box-sizing: border-box;
  line-height: 1.75;
  height: 40px;
  width: 400px;
}

.InputBoxContentError {
  padding: 9px 10px;
  border: 1px solid red;
  box-sizing: border-box;
  line-height: 1.75;
  height: 40px;
  width: 400px;
}

.InputBoxLabel {
  padding: 10px 10px 0px 0px;
  height: 30px;
  font-size: 11px;
  font-weight: 600;
  background-color: #fff;
  box-sizing: border-box;
}

.InputBoxSmall {
  height: auto;
  font-size: 12px;
  padding: 5px 10px 10px 0px;
  box-sizing: border-box;
  border-color: red;
  background-color: #fff;
}

.InputBoxContentSmall {
  padding: 9px 10px;
  border: 1px solid blue;
  box-sizing: border-box;
  line-height: 1.75;
  height: 40px;
  width: 320px;
}

.InputBoxContentSmallError {
  padding: 9px 10px;
  border: 1px solid red;
  box-sizing: border-box;
  line-height: 1.75;
  height: 40px;
  width: 320px;
}

.ButtonGreen {
  height: 40px;
  width: 400px;
  background-color: #00a300;
  color: #fff;
  border: 1px solid black;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}
.ButtonGreen:hover {
  background-color: #007a00;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGreen:active {
  background-color: #005200;
  color: #fff;
  border: 1px solid black;
  outline: none;
}

.ButtonGreenOpac {
  height: 40px;
  width: 400px;
  background-color: #00a300;
  opacity: 0.3;
  color: white;
  border: 1px solid black;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}

.ButtonRedSmall {
  height: 40px;
  width: 320px;
  background-color: red;
  color: #fff;
  border: 1px solid black;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}
.ButtonRedSmall:hover {
  background-color: #a30000;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonRedSmall:active {
  background-color: #7a0000;
  color: #fff;
  border: 1px solid black;
  outline: none;
}

.ButtonRedSmallOpac {
  height: 40px;
  width: 320px;
  background-color: #00a300;
  opacity: 0.3;
  color: white;
  border: 1px solid black;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}

.ButtonGreenSmall {
  height: 40px;
  width: 320px;
  background-color: #00a300;
  color: #fff;
  border: 1px solid black;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}
.ButtonGreenSmall:hover {
  background-color: #007a00;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGreenSmall:active {
  background-color: #005200;
  color: #fff;
  border: 1px solid black;
  outline: none;
}

.ButtonGreenSmallOpac {
  height: 40px;
  width: 320px;
  background-color: #00a300;
  opacity: 0.3;
  color: white;
  border: 1px solid black;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}

.ButtonGreySmall {
  height: 40px;
  width: 320px;
  background-color: #999999;
  color: #fff;
  border: 1px solid black;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}
.ButtonGreySmall:hover {
  background-color: #858585;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGreySmall:active {
  background-color: #707070;
  color: #fff;
  border: 1px solid black;
  outline: none;
}

.ButtonBlueSmall {
  height: 40px;
  width: 320px;
  background-color: #0000f5;
  color: #fff;
  border: 1px solid black;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}
.ButtonBlueSmall:hover {
  background-color: #0000cc;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonBlueSmall:active {
  background-color: #0000a3;
  color: #fff;
  border: 1px solid black;
  outline: none;
}

.ButtonBlueSmallOpac {
  height: 40px;
  width: 320px;
  background-color: #0000f5;
  opacity: 0.3;
  color: white;
  border: 1px solid black;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}

.Modal {
  font-family: "Roboto", sans-serif;
  position: fixed;
  z-index: 700;
  background-color: white;
  width: 440px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 25px 15px;
  left: calc((100vw - 600px) / 2);
  top: 10%;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 300;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.Events {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.Event {
  font-family: "Roboto", sans-serif;
  text-align: center;
  border: 1px solid blue;
  box-shadow: 2px 2px 3px #e3e3e3;
  margin: 10px 10px 10px 10px;
  box-sizing: border-box;
  font-size: 14px;
  padding-top: 20px;
  width: 400px;
  height: 320px;
}

.Event:hover,
.Event:active {
  background-color: #ecf2ff;
  box-shadow: 20px 20px 50px #ccc;
}

.EventDetail {
  font-size: 10px;
  width: 460px;
  height: 130px;
  text-align: left;
  padding: 16px 12px;
  box-sizing: border-box;
}

.EventDate {
  font-size: 10px;
  font-weight: 600;
  padding-bottom: 6px;
  color: red;
}

.EventTitle {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 6px;
}

.EventLocation {
  font-size: 10px;
  font-weight: 400;
  color: grey;
}

.ImageBox {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  max-height: auto;
  max-width: 70px;
}
